@import url('http://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/********** Nav-menu **********/
#header-top {
    background-color: #D83535;
}
#navbarResponsive {
    width: 100%;
}
.navbar {
    width: 100%;   
}
.navbar-nav {
    float: right;
}
.navbar-nav a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 1in #93a2ad;
}
.navbar-nav li:hover .sub-product {
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 32px 22px;
    transition-delay: 1s;
}
.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-item ul {
    position: absolute;
    min-width: 150px;
    background-color: #D83535;
    display: none;
    
    width: 10%;
}
.nav-item ul li {
    display: block;
    background-color: #D83535;
    line-height: 10px;
    padding-left: -100px;
}
.nav-item a {
    display: block;
    text-align: center;
    padding: 20px 15px;
    color: white;
}
.nav-item ul li a {
    margin-left: -10px;
}
/*Search box */
.searchBox{
    margin: auto;
  }
  .container{
    padding: 25px 50px;
    bottom: 25px;
  }
  
  .input{
    width: 700px;
    border: 2px solid #fff;
    background: white;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    color: #d2d2d2;
    font-weight: bold;
    letter-spacing: 1px;
    height: 40px;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d2d2d2;
    font-family: Roboto;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d2d2d2;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d2d2d2;
  }

/********** Image-Slider **********/
.carousel-inner img {
    height: 90%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-10%)
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}


/********** Inner **********/
#rowProduct .col-lg-3 {
    margin: 4.1%;
    padding: -50%;
}
#card-title-gear {
    font-size: 30px;
}
/********** Team Image **********/
.my-4 {
    width: 83%;
}
.col-sm-4 {
    margin: auto;
    padding: -15px;
    font-size: 20px;
}
/********** Social **********/
.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #517fa4;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}

/********** Footer **********/
#footer_1 {
    background-color: #0F67B7;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.footer a {
    color: #d5d5d5;
}
#footer-img {
    margin-left: 56px;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.last-col {
    width: 60%;
    margin-left: 90px;
}



  /********** Responsive **********/
  @media (max-width: 1600px) {
      .input {
          width: 500px;
      }
      #text-form::placeholder {
          font-size: 13px;
      }
      #footer-img {
        margin-left: 46px;
    }
    .last-col {
        width: 60%;
        margin-left: 70px;
    }
  }

  @media (max-width: 1440px) {
      .input {
          width: 350px;
      }
      #text-form::placeholder {
        font-size: 11px;
    }
    .last-col {
        width: 60%;
        margin-left: 70px;
    }
  }

  @media (max-width: 1280px) {
      .input {
          width: 250px;
      }
      #text-form::placeholder {
        font-size: 9px;
    }
  }

  @media (max-width: 1024px) {
      .navbar-brand img{
          width: 200px;
      }
      .input {
          width: 250px;
          height: 20px;
          font-size: 10px;
          margin-left: -30px;
      }
      .nav-item {
          font-size: 15px;
          margin-left: -10px;
      }
  }

  @media (max-width: 768px) {
    .navbar-brand img {
          width: 150px;
          height: 60px;
      }
    .input {
        width: 140px;
        font-size: 10px;
        margin-left: -30px;
    }
    .container{
        padding: 0px;
        bottom: 5px;
      }
    .nav-item {
        font-size: 11px;
        margin-left: -10px;
    }
  }

  /*Phone*/
  @media (max-width: 425px) {
      .navbar-brand img {
          width: 200px;
          margin-left: 5px;
      }
      .input {
          width: 100%;
          margin-left: 1px;
          margin-top: 5px;
      }
      .navbar-nav {
          margin-right: 120px;
      }
      .nav-item {
        font-size: 18px;
        line-height: 8px;
      }
  }
@media (max-width: 375px) {
    .navbar-nav {
        margin-right: 95px;
    }
}
  @media (max-width: 320px) {
      .navbar-nav {
          margin-right: 50px;
      }
  }